@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap');


.mainBlock {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 23px;
    background: linear-gradient(to right, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
}

h3 {
    font-weight: 500;
}

.blockOne {
    width: 500px;
}

.btn {
    padding: 5px 15px;
    border: 1px solid slateblue;
}

.btn:hover {
    background: rgb(154, 143, 228);
}

@media all and (max-width: 450px) {
    .blockTwo img {
        display: none;
    }
}