@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  width: 14rem;
}
.card-div {
  font-family: 'Amiri', serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.inp {
  height: 35px;
}

.card-btn {
  width: 80px;
  margin: 2px;
}

.inp {
  height: 35px;
}
