@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Nanum+Gothic&display=swap");

.logo {
  height: 50px;
  width: 50px;
}
.nav {
  position: fixed;
  z-index: 99;
}
.for-font {
  /* font-family: "Advent Pro", sans-serif; */
  font-family: "Nanum Gothic", sans-serif;
}
