@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Nanum+Gothic&display=swap");

.main-nav {
  position: relative;
}



.navbar{
  opacity: 0.8;
}
.navbar img {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 40%;
  top: 10%;
}

.for-font {
  /* font-family: "Advent Pro", sans-serif; */
  font-family: "Nanum Gothic", sans-serif;
  text-decoration: none;
  color: black;
}

.catalog {
  text-decoration: none;
  color: black;
}