@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

.section1 {
    display: flex;
    justify-content: space-between;
    padding: 30px 65px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 19px;
    margin-top: 25px;
}